*.swp
*.pyc
build/
manual/pdf
manual/source/nxdl_desc.rst
manual/source/*.table
manual/source/classes
!manual/source/classes/**/Makefile
!manual/source/classes/index.rst
manual/makelog.txt
/python/
impatient-guide/_build
.DS_Store
__github_creds__.txt

# Microsoft VSCode editor configuration
.vscode
